body {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url(../img/background.gif);
    background-size: cover;
    /*background: linear-gradient(to bottom, #4f5c5d, #000000);*/
    min-height: 100vh;
    font-family: monospace;
}

.new {
    border: 5px 5px rgb(154, 154, 154);
    background: black;
    color: white;
    margin-top: 10%;
    width: 50%;
    margin-left: 25%;
}

.new:hover {
    color: rgb(196, 196, 196);
}

.container img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 90px;
    width: 90px;
}

.container label {
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    margin-top: auto;
    background: linear-gradient(to bottom, #a6a6a6de, #999595d8);
    display: flex;
    flex-direction: column;
    border: 1px solid #384546;
    padding: 5px 25px 25px 25px;
    box-shadow: -5px 5px 5px rgb(32, 31, 31);
}

.container h1 {
    margin-top: 7px;
    display: flex;
    padding: 8px;
    text-decoration: underline;
}


p {
    margin: 2px;
}

#resultado {
    margin-top: auto;
    display: none;
    text-align: start;
    flex-direction: column;
    padding: 15px;
    background: linear-gradient(to bottom, #171717, #423f3f);
    border: 1px solid #031e20;
    box-shadow: -5px 5px 5px rgb(1, 1, 1);
    color: wheat;
}

#cep {
    border: none;
    box-shadow: -1px 1px 3px gray;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

#cep:active {
    background: rgb(218, 218, 218);
}



#btn-pesquisa {
    background: black;
    color: white;
    margin-top: 2%;
    margin-bottom: -5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#btn-pesquisa:hover {
    background: #040404;
    color: rgb(171, 170, 170);

}

/*.container{
    justify-content: center;
    border: 1px solid #BFBFBF;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top: 5%;
    padding-top: 8%;
    flex-direction: column;
    width: 500px;
    height: 300px;
}


.resultado{
    padding-top: 100px;
    
    width: 60%;
    height: 43%;
    width: 284px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
    
}

.resultado{
    margin-top: 15%;
}

.info {
    display: flex;
    flex-direction: row;
}

.inf{
    margin: 0;
    margin-left: 7px;
}

.container{
    background: yellow;
}

.buscar{
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   
    height: 40px;
    padding: 3%;
    margin-top: 70%;
}

#getSearch {
    width: 95%;
}*/

/*Creditos*/
.rodape{
    float: inline-end;
    margin-top: auto;
    display: block;
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
}

.rodape .creditos{
    font-size: 12px; 
    color: rgb(0, 0, 0);
    background: rgb(137, 136, 136, 0.4);
   
}

.rodape .creditos:hover{
    filter: invert(75%);
    background: none;
}

.rodape .contato{
    margin-left: 24px;
    margin-right: -3px;
}

.rodape .contato a{
    margin-right: 29px;
}

.rodape .contato img{
    width: 40px;
    height: 40px;
}

.rodape .contato img:hover{
    filter: invert(75%);
}